<!doctype html>
<div class="container-fluid signUpForm">
    <form [formGroup] = "loginForm" (ngSubmit) = "onSubmit()">
        <h1>Sign in</h1>
        <input type="text" placeholder="Username" formControlName = "username" class="form-control username">
        <input type="password" placeholder="Password" formControlName = "password" class="form-control password">
        <button class="btn btn-primary login" type="submit" [disabled] = "!loginForm.valid">Login</button>
        <button class="btn btn-primary signup" type="button" (click)="userSignup()">Signup</button>
    </form>
</div>
